.produ {
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color:  #08a05c;
}
.productos {
    padding: 5rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}
.producto{
    background-color: #918a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.producto:hover{
    border: 6px solid #08a05c55;
;
}
.producto__img img{
    width: 310px;
}
.producto__footer{
    padding: 1rem;
}
.producto__footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1b0b0b;
    font-family: Helvetica, sans-serif;
}
.producto__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, .555);
    text-transform: uppercase;
    font-size: 18px;
}
.producto__footer .price{
    font-size: 2rem;
    color: #1b0b0b;
}
.productos .bottom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 3rem;
}
.bottom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.bottom button{
    background-color: #1d8c36;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
.bottom div{
    background-color: #1d8c36;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}
.bottom div a{
    color: white;
    font-weight: 700;
}
.bottom div a:hover{
    color: white;
}